<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
  <h1>TinyApp</h1>
  <% if (user == undefined) {%>
  <form method="GET" action="/login">
    <button type="submit">Login</button>
  </form>
  <form method="GET" action="/register">
    <button type="submit">Register</button>
  </form>
  <% } else { %>
  <p><%= user.email %></p>
  <form method="POST" action="/logout">
  <button type="submit">Logout</button>
  </form>
  <% } %>
</header>

</html>