<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
  <nav class="navbar">
  <h1 class="navbar-brand navbar-expand-lg">TinyApp</h1>
  <div id="navbarSupportedContent">
  <% if (user == undefined) {%>
  <form method="GET" action="/login">
    <button type="submit" class="btn btn-outline-success">Login</button>
  </form>
  <form method="GET" action="/register">
    <button type="submit" class="btn btn-outline-info">Register</button>
  </form>
  <% } else { %>
  <p class="text-muted"><%= user.email %></p>
  <form method="POST" action="/logout" style=" display: inline-block; vertical-align: middle;">
  <button type="submit" class="btn btn-outline-danger">Logout</button>
  </form>
  <% } %>
</nav>
</header>

</html>