<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<header>
  <h1>TinyApp</h1>
  <% if (user == undefined) {%>
  <form method="GET" action="/login">
    <button type="submit">Login</button>
  </form>
  <form method="GET" action="/register">
    <button type="submit">Register</button>
  </form>
  <% } else { %>
  <p><%= user.email %></p>
  <form method="POST" action="/logout">
  <button type="submit">Logout</button>
  </form>
  <% } %>
</header>

</html>