<!DOCTYPE html>
<html lang="en">

<header>
  <title>TinyApp</title>
</header>

<body style=" text-align: center; margin: 20px;">
  <h1><%= code %></h1>
  <h2>Oh no! Something went wrong...</h2>
  <h3><%= message %></h3>
  <img src="oops.png">
</body>

</html>