<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style=" text-align: center; margin: 20px;">
  <div class="jumbotron" style="margin-left: 30%; margin-right: 30%;">
    <h1 class="card-title"><%= code %></h1>
    <h4 class="card-subtitle mb-2 text-muted"><%= message %></h3>
    <img src="oops.png" display="inline-block">
    <h4>Oh no! Something went wrong...</h2>
  </div>
</body>

</html>