<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>
  form {
    margin: 20px;
  }
</style>

<body style="font-size:20px; text-align:center; padding-top: 50px;">
  <h2>Welcome back to TinyApp!</h2>
  <p>Let's log you in...</p>
  <form method="POST" action="/login">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <button type="submit">Login</button>
  </form>
  <form method="GET" action="/register">
    <button type="submit">Don't have an account?</button>
  </form>
</body>

</html>