<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<style>
  form {
    display: inline-block; //Or display: inline;
  }
</style>

<body style="font-size:20px; padding:50px; text-align: center;">
  <h2>Welcome to TinyApp!</h2>
  <p>Don't have an account? Let's get you set up!</p>
  <form method="POST" action="/register">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <button type="submit">Create Account</button>
  </form>
</body>

</html>