<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="font-size:20px; padding:50px; align-items: center; text-align: center;">
  <div class="jumbotron">
  <h1>Welcome to TinyApp!</h1>
  <h6 class="text-muted">Let's get you set up with a new account!</h6>
  <div class="form-group" style=" display: block; text-align: center;">
  <form method="POST" action="/register?_method=PUT" style=" margin: auto; display: inline-block; width: 50%">
    <label for="formGroupExampleInput">Email</label>
    <input type="email" name="email" class="form-control" id="formGroupExampleInput" style=" width: 100%;">
    <label for="formGroupExampleInput2" style="margin-top: 10px;">Password</label>
    <input type="password" name="password" class="form-control" id="formGroupExampleInput2" style=" width: 100%;">
    <button type="submit" class="btn btn-success btn-block" style=" margin-top: 20px;">Create Account</button>
  </form>
</div>
</body>

</html>