<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body style="font-size:20px; padding:50px;">
    <p>This is the registration page...</p>
    <form method="POST" action="/register">
      Email: <input type="email" name="email">
      Password: <input type="password" name="password">
      <button type="submit">Create Account</button>
    </form>
  </body>
</html>