<!DOCTYPE html>
<html lange="en">
<head>
  <title>TinyApp</title>
</head>
<style>
form {
    display: inline-block; //Or display: inline;
}
</style>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <ul>
    <% for (let red in urls) { %>
      <li><%= urls[red]['short'] %> = <%= urls[red]['long'] %>
        <form method="POST" action="/urls/<%= urls[red]['short'] %>/delete">
          <button type="delete">Remove</button>
        </form>
        <form method="POST" action="/urls/<%= urls[red]['short']%>">
          Update Url:<input type="text" name="newLong">
          <button type="submit">Submit</button>
        </form>
      </li>
    <% }; %>
  </ul>

  <a href="urls/new">Shorten a new url!</a>
</body>

</html>