<!DOCTYPE html>
<html lange="en">
<head>
  <time>TinyApp</time>
</head>

<body>
  <ul>
    <% for (let red in urls) { %>
      <li><%= urls[red]['short'] %> - <%= urls[red]['long'] %></li>
    <% }; %>
  </ul>

  <a href="#">Shorten a new url!</a>
</body>

</html>