<!DOCTYPE html>
<html lange="en">
<head>
  <time>TinyApp</time>
</head>

<body>
  <ul>
    <% for (let url in urls) { %>
      <li><%= url %> - <%= urls[url] %></li>
    <% }; %>
  </ul>

  <a href="#">Shorten a new url!</a>
</body>

</html>