<!DOCTYPE html>
<html lange="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <ul>
    <% for (let red in urls) { %>
      <li><%= urls[red]['short'] %> = <%= urls[red]['long'] %></li>
    <% }; %>
  </ul>
  <form method="POST" action="/urls/oopsie/delete">
    <button type="delete">Delete Wrong Url</button>
  </form>
  <a href="urls/new">Shorten a new url!</a>
</body>

</html>