<!DOCTYPE html>
<html lange="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <h2>Short URL: <%= single['short']%></h2>
  <p>You can update the url of a shortened key here!</p>
    <form method="POST" action="/urls/<%= single['short']%>">
    New Url: <input type="text" name="newLong">
    <button type="submit">Update</button>
    </form>
    <form action="/urls"><button type="submit">Cancel</button></form>
</body>

</html>