<!DOCTYPE html>
<html lange="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <p>We reached it!</p>
  <p><%= single.long %></p>
</body>

</html>