<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
  <% include ./partials/_header %>
</header>

<body style="font-size:20px; padding:50px; text-align: center;">
    <form action="/urls" method="POST" style="padding-top: 30px;">
      <label for="longURL">Enter a URL to shrink it!</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
</body>

</html>